In [67]:
import pandas as pd
import numpy as np

In [68]:
i = pd.read_csv('inbody_out.csv')
a = pd.read_csv('antropo_out.csv', sep=";")

In [69]:
a.head()

,Unnamed: 0,id,data.badania,DataBadania,Wysokosc,WysokoscSiedzeniowa,ObwodSzyi,ObwodKlatkiPiersiowej,ObwodKlatkiPiersiowejWdech,ObwodPasa,...,SzerokoscBarkow,SzerokoscBioder,SzerokoscKlatkiPiersiowej,GlebokoscKlatkiPiersiowej,FaldNaRamieniu,FaldPodLopatka,FaldNaBrzuchu,CisnienieKrwiSkurczowe,CisnienieKrwiRozkurczowe,TetnoKrwi
0,0,101,2015.09.25,2015.09.25,182.0,96.0,39.0,86.0,89.0,83.0,...,38.0,27.0,27.0,21.0,14.0,10.0,19.0,128.0,69.0,66.0
1,1,102,2015.09.25,2015.09.25,167.0,84.4,31.0,72.5,76.0,62.0,...,32.8,23.8,24.1,17.4,12.0,4.0,6.0,128.0,60.0,75.0
2,2,104,2015.09.25,2015.09.25,187.4,93.5,35.0,83.0,84.0,68.0,...,39.4,27.3,26.5,19.1,5.0,9.0,4.0,146.0,83.0,NaN
3,3,105,2015.09.25,2015.09.25,177.9,90.0,33.0,80.0,86.0,68.0,...,37.0,26.8,26.0,17.7,11.0,6.0,8.0,121.0,80.0,92.0
4,4,107,2015.09.25,2015.09.25,161.7,84.8,35.0,90.0,93.0,88.0,...,34.0,28.0,26.0,20.0,31.0,35.0,46.0,119.0,67.0,88.0

In [70]:
i.head()

,Unnamed: 0,id,DateOfBirth,Age,Sex,DataBadania,Weight,LowerLimit_WeightNormalRange_,UpperLimit_WeightNormalRange_,TBW_TotalBodyWater_,...,MeasuredCircumferenceofRightArm,MeasuredCircumferenceofLeftArm,MeasuredCircumferenceofRightThigh,MeasuredCircumferenceofLeftThigh,GrowthScore,ObesityDegreeofaChild,LowerLimit_ObesityDegreeofaChildNormalRange_,UpperLimit_ObesityDegreeofaChildNormalRange_,InBodyType,LocalID
0,0,101,14.06.2000,15.3,1,2015.09.25. 09:13:11,80.5,62.7,84.8,49.8,...,NaN,NaN,NaN,NaN,123.0,111.0,NaN,NaN,230.0,NaN
1,1,102,27.12.2000,14.7,1,2015.09.25. 09:20:27,48.8,51.2,69.3,31.7,...,NaN,NaN,NaN,NaN,85.0,83.0,NaN,NaN,230.0,NaN
2,2,104,06.11.2000,14.8,1,2015.09.25. 09:34:48,63.5,66.1,89.5,42.6,...,NaN,NaN,NaN,NaN,102.0,82.0,NaN,NaN,230.0,NaN
3,3,105,22.07.2000,15.2,1,2015.09.25. 09:37:26,59.1,59.8,80.8,39.8,...,NaN,NaN,NaN,NaN,98.0,87.0,NaN,NaN,230.0,NaN
4,4,107,24.06.2002,13.3,1,2015.09.25. 09:55:02,72.2,46.9,63.5,33.1,...,NaN,NaN,NaN,NaN,59.0,137.0,NaN,NaN,230.0,NaN

In [71]:
id = np.sort(a["id"].unique())
print(id)

[101 102 104 105 107 108 109 111 112 115 116 117 118 119 121 122 123 124
 125 126 127 128 129 130 131 132 133 135 136 137 139 140 141 142 143 144
 146 147 149 150 151 153 154 155 156 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 174 175 176 177 178 179 180 181 183 184 185 186 187
 188 190 191 192 194 195 197 200 202 203 204 208 209 210 211 212 213 214
 215 216 217 218 219 220 224 226 228 232 233 234 235 236 237 238 239 241
 242 243 244 245 246 247 249 250 251 252 254 255 256 258 261 263 266 267
 301 302 303 304 305 307 309 310 311 312 314 315 316 317 318 325 326 400
 405 406 501 502 503 504 505 507 508 509 510 511 601 981 982 983 984 986
 987 992 993 994 995 996 997 998 999]

In [72]:
lk_a = len(a.columns) -1
lk_i = len(i.columns) -1
lw = len(id)
lk = lk_a*9 + lk_i*9+1
m = np.zeros((lw, lk))

In [73]:
print(m)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [74]:
kolumny = ["ID"] + [f"{x}_{i}" for x in a.columns[1:] for i in range(9)]
print(kolumny)

['ID', 'id_0', 'id_1', 'id_2', 'id_3', 'id_4', 'id_5', 'id_6', 'id_7', 'id_8', 'data.badania_0', 'data.badania_1', 'data.badania_2', 'data.badania_3', 'data.badania_4', 'data.badania_5', 'data.badania_6', 'data.badania_7', 'data.badania_8', 'DataBadania_0', 'DataBadania_1', 'DataBadania_2', 'DataBadania_3', 'DataBadania_4', 'DataBadania_5', 'DataBadania_6', 'DataBadania_7', 'DataBadania_8', 'Wysokosc_0', 'Wysokosc_1', 'Wysokosc_2', 'Wysokosc_3', 'Wysokosc_4', 'Wysokosc_5', 'Wysokosc_6', 'Wysokosc_7', 'Wysokosc_8', 'WysokoscSiedzeniowa_0', 'WysokoscSiedzeniowa_1', 'WysokoscSiedzeniowa_2', 'WysokoscSiedzeniowa_3', 'WysokoscSiedzeniowa_4', 'WysokoscSiedzeniowa_5', 'WysokoscSiedzeniowa_6', 'WysokoscSiedzeniowa_7', 'WysokoscSiedzeniowa_8', 'ObwodSzyi_0', 'ObwodSzyi_1', 'ObwodSzyi_2', 'ObwodSzyi_3', 'ObwodSzyi_4', 'ObwodSzyi_5', 'ObwodSzyi_6', 'ObwodSzyi_7', 'ObwodSzyi_8', 'ObwodKlatkiPiersiowej_0', 'ObwodKlatkiPiersiowej_1', 'ObwodKlatkiPiersiowej_2', 'ObwodKlatkiPiersiowej_3', 'ObwodKlatkiPiersiowej_4', 'ObwodKlatkiPiersiowej_5', 'ObwodKlatkiPiersiowej_6', 'ObwodKlatkiPiersiowej_7', 'ObwodKlatkiPiersiowej_8', 'ObwodKlatkiPiersiowejWdech_0', 'ObwodKlatkiPiersiowejWdech_1', 'ObwodKlatkiPiersiowejWdech_2', 'ObwodKlatkiPiersiowejWdech_3', 'ObwodKlatkiPiersiowejWdech_4', 'ObwodKlatkiPiersiowejWdech_5', 'ObwodKlatkiPiersiowejWdech_6', 'ObwodKlatkiPiersiowejWdech_7', 'ObwodKlatkiPiersiowejWdech_8', 'ObwodPasa_0', 'ObwodPasa_1', 'ObwodPasa_2', 'ObwodPasa_3', 'ObwodPasa_4', 'ObwodPasa_5', 'ObwodPasa_6', 'ObwodPasa_7', 'ObwodPasa_8', 'ObwodBioder_0', 'ObwodBioder_1', 'ObwodBioder_2', 'ObwodBioder_3', 'ObwodBioder_4', 'ObwodBioder_5', 'ObwodBioder_6', 'ObwodBioder_7', 'ObwodBioder_8', 'ObwodUda_0', 'ObwodUda_1', 'ObwodUda_2', 'ObwodUda_3', 'ObwodUda_4', 'ObwodUda_5', 'ObwodUda_6', 'ObwodUda_7', 'ObwodUda_8', 'ObwodRamienia_0', 'ObwodRamienia_1', 'ObwodRamienia_2', 'ObwodRamienia_3', 'ObwodRamienia_4', 'ObwodRamienia_5', 'ObwodRamienia_6', 'ObwodRamienia_7', 'ObwodRamienia_8', 'SzerokoscBarkow_0', 'SzerokoscBarkow_1', 'SzerokoscBarkow_2', 'SzerokoscBarkow_3', 'SzerokoscBarkow_4', 'SzerokoscBarkow_5', 'SzerokoscBarkow_6', 'SzerokoscBarkow_7', 'SzerokoscBarkow_8', 'SzerokoscBioder_0', 'SzerokoscBioder_1', 'SzerokoscBioder_2', 'SzerokoscBioder_3', 'SzerokoscBioder_4', 'SzerokoscBioder_5', 'SzerokoscBioder_6', 'SzerokoscBioder_7', 'SzerokoscBioder_8', 'SzerokoscKlatkiPiersiowej_0', 'SzerokoscKlatkiPiersiowej_1', 'SzerokoscKlatkiPiersiowej_2', 'SzerokoscKlatkiPiersiowej_3', 'SzerokoscKlatkiPiersiowej_4', 'SzerokoscKlatkiPiersiowej_5', 'SzerokoscKlatkiPiersiowej_6', 'SzerokoscKlatkiPiersiowej_7', 'SzerokoscKlatkiPiersiowej_8', 'GlebokoscKlatkiPiersiowej_0', 'GlebokoscKlatkiPiersiowej_1', 'GlebokoscKlatkiPiersiowej_2', 'GlebokoscKlatkiPiersiowej_3', 'GlebokoscKlatkiPiersiowej_4', 'GlebokoscKlatkiPiersiowej_5', 'GlebokoscKlatkiPiersiowej_6', 'GlebokoscKlatkiPiersiowej_7', 'GlebokoscKlatkiPiersiowej_8', 'FaldNaRamieniu_0', 'FaldNaRamieniu_1', 'FaldNaRamieniu_2', 'FaldNaRamieniu_3', 'FaldNaRamieniu_4', 'FaldNaRamieniu_5', 'FaldNaRamieniu_6', 'FaldNaRamieniu_7', 'FaldNaRamieniu_8', 'FaldPodLopatka_0', 'FaldPodLopatka_1', 'FaldPodLopatka_2', 'FaldPodLopatka_3', 'FaldPodLopatka_4', 'FaldPodLopatka_5', 'FaldPodLopatka_6', 'FaldPodLopatka_7', 'FaldPodLopatka_8', 'FaldNaBrzuchu_0', 'FaldNaBrzuchu_1', 'FaldNaBrzuchu_2', 'FaldNaBrzuchu_3', 'FaldNaBrzuchu_4', 'FaldNaBrzuchu_5', 'FaldNaBrzuchu_6', 'FaldNaBrzuchu_7', 'FaldNaBrzuchu_8', 'CisnienieKrwiSkurczowe_0', 'CisnienieKrwiSkurczowe_1', 'CisnienieKrwiSkurczowe_2', 'CisnienieKrwiSkurczowe_3', 'CisnienieKrwiSkurczowe_4', 'CisnienieKrwiSkurczowe_5', 'CisnienieKrwiSkurczowe_6', 'CisnienieKrwiSkurczowe_7', 'CisnienieKrwiSkurczowe_8', 'CisnienieKrwiRozkurczowe_0', 'CisnienieKrwiRozkurczowe_1', 'CisnienieKrwiRozkurczowe_2', 'CisnienieKrwiRozkurczowe_3', 'CisnienieKrwiRozkurczowe_4', 'CisnienieKrwiRozkurczowe_5', 'CisnienieKrwiRozkurczowe_6', 'CisnienieKrwiRozkurczowe_7', 'CisnienieKrwiRozkurczowe_8', 'TetnoKrwi_0', 'TetnoKrwi_1', 'TetnoKrwi_2', 'TetnoKrwi_3', 'TetnoKrwi_4', 'TetnoKrwi_5', 'TetnoKrwi_6', 'TetnoKrwi_7', 'TetnoKrwi_8']

In [75]:
#TODO naprawić to 
#for i in id:
#    doSortowania = a[a["id"] == i]
#    for x in doSortowania.values:
#        kandydaci = []
#        if(".09." in x[2] or "-09-" in x[2]):
#            if "2015" in x[2]:
#                pomiar = 1
#            elif "2016" in x[2]:
#                kandydaci = [2,3]
#        else:
#            kandydaci = []
#        for k in lk_a:
#            m[i][k] = x[k]
#        
#
#    break

In [77]:
#TODO uzupełnić bo nie zdążyłem na zajęciach
for index, row in i.iterrows():
    for k in lk_i:
        m[row,(k-1)*9+pomiar+1+len(lk_a)*9] = a[??,k+1]
    break;

101