In [143]:
import pandas as pd
import numpy as np

In [144]:
output_csv = pd.read_csv("wynikowy_clear.csv", sep=";")
print(output_csv.head())

    ID DataBadania 1 DataBadania 2 DataBadania 3 DataBadania 4 DataBadania 5  \
0  101    2015.09.25    2016-03-11    2016-10-20    2017-04-06           NaN
1  102    2015.09.25    2016-03-10           NaN           NaN           NaN
2  104    2015.09.25    2016-03-10    22-09-2016    2017-04-06    2017-09-21
3  105    2015.09.25    2016-03-10    2016-10-20           NaN    2017-09-21
4  107    2015.09.25    2016-03-10    21-09-2016    2017-04-05    2017-09-20

  DataBadania 6 DataBadania 7 DataBadania 8 DataBadania 9  ...  InBodyType 9  \
0           NaN           NaN           NaN           NaN  ...         570.0
1           NaN           NaN           NaN           NaN  ...         570.0
2           NaN           NaN           NaN           NaN  ...           NaN
3    2018-03-21           NaN           NaN           NaN  ...           NaN
4    2018-03-21           NaN           NaN           NaN  ...           NaN

   LocalID 1  LocalID 2  LocalID 3  LocalID 4  LocalID 5  LocalID 6  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

   LocalID 7  LocalID 8  LocalID 9
0        NaN        NaN     4111.0
1        NaN        NaN     1983.0
2        NaN        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN

[5 rows x 1135 columns]

In [145]:
plec = np.full(len(output_csv.index), "")
dataurodzienia=np.full(len(output_csv.index), "00.00.0000")

In [146]:
print(plec)

['' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' ''
 '' '' '' '']

In [147]:
for i in output_csv.index:
    for column in output_csv.columns[181:190]:
        if str(output_csv.loc[i, column]) != "nan":
            dataurodzienia[i] =output_csv.loc[i, column]
    for column in output_csv.columns[199:208]:
        if str(output_csv.loc[i, column]) == "M":
            plec[i] = 1 
        if str(output_csv.loc[i, column]) == "F":
            plec[i] = 0

In [148]:
print(dataurodzienia)

['14.06.2000' '27.12.2000' '2000.11.06' '2000.07.22' '2002.06.24'
 '2003.04.20' '17.04.2002' '25.01.2002' '2002.10.25' '22.07.2002'
 '09.03.2001' '21.01.2001' '24.10.2002' '23.05.2001' '16.01.2002'
 '05.02.2001' '21.03.2001' '06.05.2001' '02.11.2001' '09.06.2001'
 '23.04.2001' '21.05.1999' '30.01.2001' '09.02.1997' '09.09.1997'
 '21.09.1997' '24.05.1997' '05.09.1999' '21.06.1999' '1999.11.20'
 '22.05.1997' '2001.04.09' '1999.05.24' '1999.11.16' '2001.01.30'
 '18.11.2000' '1999.02.01' '1999.09.22' '14.08.1999' '03.11.1999'
 '1999.09.18' '1999.03.24' '1999.06.03' '04.12.1998' '1999.12.15'
 '2002.06.19' '2002.06.19' '20.12.1998' '16.07.1997' '16.06.2004'
 '11.10.2005' '03.01.2005' '25.01.2005' '04.07.2004' '03.12.2004'
 '10.02.2004' '27.01.2004' '2006.10.31' '2005.01.20' '2004.01.16'
 '2004.10.16' '28.04.2005' '11.05.2006' '12.08.2006' '21.11.2005'
 '30.10.2006' '05.05.2005' '20.10.2005' '12.07.2005' '13.07.2005'
 '02.11.2005' '24.07.2005' '05.08.2005' '01.08.2003' '09.06.2003'
 '13.03.2006' '2003.09.03' '18.03.2003' '20.09.2003' '19.01.2004'
 '28.02.2003' '28.08.2003' '23.08.2003' '15.02.2003' '23.04.2003'
 '16.04.2003' '17.12.2003' '27.06.2003' '21.07.2003' '14.06.2003'
 '12.08.2003' '07.04.2003' '03.03.2002' '21.02.2001' '1999.09.29'
 '1999.08.20' '2000.08.10' '16.11.2000' '29.03.1998' '2000.06.06'
 '29.03.2001' '28.12.2001' '2000.09.07' '15.04.1998' '14.03.2000'
 '2000.03.14' '15.07.2001' '08.11.2005' '14.06.2006' '12.04.2006'
 '23.03.2006' '17.02.2006' '26.09.2006' '03.03.2007' '19.10.2006'
 '18.01.2006' '26.09.2006' '17.11.2006' '28.02.2006' '31.10.2006'
 '12.06.2006' '19.12.2005' '13.05.2004' '01.12.2009' '30.07.2009'
 '09.12.2009' '24.09.2010' '31.12.2001' '03.08.2007' '03.08.2007'
 '22.04.2008' '24.06.2007' '04.03.2008' '11.07.2008' '14.05.2008'
 '19.06.2007' '02.02.2007' '21.08.2007' '18.03.2007' '14.09.2007'
 '27.09.2007' '31.05.2007' '12.03.2007' '25.03.2008' '17.05.2003'
 '22.05.2007' '26.06.2008' '28.12.2009' '22.07.2009' '13.06.2009'
 '01.06.2009' '03.09.2009' '19.04.2009' '05.12.2008' '28.01.2008'
 '16.06.2009' '09.06.2009' '29.05.2009' '23.08.2001' '29.01.2001'
 '1999.07.16' '13.12.1999' '31.12.1999' '1999.12.20' '09.01.2001'
 '10.01.2000' '12.03.2000' '30.07.2000' '2000.11.12' '22.02.2000'
 '16.11.2000' '25.02.2001']

In [149]:
print(plec)

['1' '1' '1' '1' '1' '0' '0' '1' '0' '1' '0' '0' '0' '0' '1' '0' '0' '0'
 '0' '1' '1' '1' '0' '0' '1' '0' '0' '0' '1' '1' '1' '0' '1' '1' '1' '1'
 '1' '1' '0' '0' '0' '0' '0' '0' '1' '1' '1' '1' '0' '1' '1' '0' '0' '1'
 '1' '1' '1' '1' '0' '0' '1' '1' '0' '1' '1' '1' '1' '1' '0' '0' '0' '0'
 '0' '1' '1' '0' '1' '0' '0' '0' '1' '1' '1' '0' '0' '0' '0' '0' '1' '1'
 '1' '1' '1' '0' '1' '1' '0' '1' '0' '1' '0' '0' '0' '0' '1' '1' '1' '1'
 '0' '1' '1' '0' '0' '1' '1' '0' '0' '1' '1' '1' '0' '0' '0' '1' '0' '1'
 '1' '1' '0' '0' '0' '0' '1' '0' '0' '1' '1' '1' '1' '1' '1' '0' '1' '1'
 '1' '1' '1' '1' '1' '0' '0' '1' '0' '0' '1' '0' '1' '1' '1' '0' '1' '1'
 '0' '1' '0' '1' '1' '1' '0' '0' '0' '0']

In [150]:
output_csv= output_csv.drop(output_csv.columns[1:10], axis=1)
output_csv=output_csv.drop(output_csv.columns[181:190], axis=1)
output_csv=output_csv.drop(output_csv.columns[199:217], axis=1)

In [151]:
output_csv.insert(1, "Plec", plec)
output_csv.insert(1, "DataUrodzenia", dataurodzienia)

In [152]:
print(output_csv.head())

    ID DataUrodzenia Plec  Wysokosc 1  Wysokosc 2  Wysokosc 3  Wysokosc 4  \
0  101    14.06.2000    1       182.0       183.0       189.0       183.1
1  102    27.12.2000    1       167.0       171.1         NaN         NaN
2  104    2000.11.06    1       187.4       188.4       189.0       190.1
3  105    2000.07.22    1       177.9       180.0       183.3         NaN
4  107    2002.06.24    1       161.7       166.9       170.8       172.8

   Wysokosc 5  Wysokosc 6  Wysokosc 7  ...  InBodyType 9  LocalID 1  \
0         NaN         NaN         NaN  ...         570.0        NaN
1         NaN         NaN         NaN  ...         570.0        NaN
2       190.5         NaN         NaN  ...           NaN        NaN
3       185.2       187.0         NaN  ...           NaN        NaN
4       174.0       174.4         NaN  ...           NaN        NaN

   LocalID 2  LocalID 3  LocalID 4  LocalID 5  LocalID 6  LocalID 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

   LocalID 8  LocalID 9
0        NaN     4111.0
1        NaN     1983.0
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 1101 columns]

In [153]:
#output_csv.to_csv("Wynikowy_ostateczny.csv")

In [158]:
kolumny = [x[:-2] for x in output_csv.columns[3::9]]

In [159]:
kolumny

['Wysokosc',
 'WysokoscSiedzeniowa',
 'ObwodSzyi',
 'ObwodKlatkiPiersiowej',
 'ObwodKlatkiPiersiowejWdech',
 'ObwodPasa',
 'ObwodBioder',
 'ObwodUda',
 'ObwodRamienia',
 'SzerokoscBarkow',
 'SzerokoscBioder',
 'SzerokoscKlatkiPiersiowej',
 'GlebokoscKlatkiPiersiowej',
 'FaldNaRamieniu',
 'FaldPodLopatka',
 'FaldNaBrzuchu',
 'CisnienieKrwiSkurczowe',
 'CisnienieKrwiRozkurczowe',
 'TetnoKrwi',
 'DateOfBirth',
 'Sex',
 'DataBadania 1',
 'UpperLimit_WeightNormalRange_',
 'TBW_TotalBodyWater_',
 'LowerLimit_TBWNormalRange_',
 'UpperLimit_TBWNormalRange_',
 'ICW_IntracellularWater_',
 'LowerLimit_ICWNormalRange_',
 'UpperLimit_ICWNormalRange_',
 'ECW_ExtracellularWater_',
 'LowerLimit_ECWNormalRange_',
 'UpperLimit_ECWNormalRange_',
 'Protein',
 'LowerLimit_ProteinNormalRange_',
 'UpperLimit_ProteinNormalRange_',
 'Minerals',
 'LowerLimit_MineralsNormalRange_',
 'UpperLimit_MineralsNormalRange_',
 'BFM_BodyFatMass_',
 'LowerLimit_BFMNormalRange_',
 'UpperLimit_BFMNormalRange_',
 'SLM_SoftLeanMass_',
 'LowerLimit_SLMNormalRange_',
 'UpperLimit_SLMNormalRange_',
 'FFM_FatFreeMass_',
 'LowerLimit_FFMNormalRange_',
 'UpperLimit_FFMNormalRange_',
 'SMM_SkeletalMuscleMass_',
 'LowerLimit_SMMNormalRange_',
 'UpperLimit_SMMNormalRange_',
 'BMI_BodyMassIndex_',
 'LowerLimit_BMINormalRange_',
 'UpperLimit_BMINormalRange_',
 'PBF_PercentBodyFat_',
 'LowerLimit_PBFNormalRange_',
 'UpperLimit_PBFNormalRange_',
 'FFMofRightArm',
 'LowerLimit_FFMofRightArmNormalRange_',
 'UpperLimit_FFMofRightArmNormalRange_',
 'FFMpofRightArm',
 'FFMofLeftArm',
 'LowerLimit_FFMofLeftArmNormalRange_',
 'UpperLimit_FFMofLeftArmNormalRange_',
 'FFMpofLeftArm',
 'FFMofTrunk',
 'LowerLimit_FFMofTrunkNormalRange_',
 'UpperLimit_FFMofTrunkNormalRange_',
 'FFMpofTrunk',
 'FFMofRightLeg',
 'LowerLimit_FFMofRightLegNormalRange_',
 'UpperLimit_FFMofRightLegNormalRange_',
 'FFMpofRightLeg',
 'FFMofLeftLeg',
 'LowerLimit_FFMofLeftLegNormalRange_',
 'UpperLimit_FFMofLeftLegNormalRange_',
 'FFMpofLeftLeg',
 'ECW_TBW',
 'BFMofRightArm',
 'BFMpofRightArm',
 'BFMofLeftArm',
 'BFMpofLeftArm',
 'BFMofTrunk',
 'BFMpofTrunk',
 'BFMofRightLeg',
 'BFMpofRightLeg',
 'BFMofLeftLeg',
 'BFMpofLeftLeg',
 'InBodyScore',
 'TargetWeight',
 'WeightControl',
 'BFMControl',
 'FFMControl',
 'BMR_BasalMetabolicRate_',
 'WHR_Waist_HipRatio_',
 'LowerLimit_WHRNormalRange_',
 'UpperLimit_WHRNormalRange_',
 'VFL_VisceralFatLevel_',
 'ObesityDegree',
 'LowerLimit_ObesityDegreeNormalRange_',
 'UpperLimit_ObesityDegreeNormalRange_',
 'BCM_BodyCellMass_',
 'LowerLimit_BCMNormalRange_',
 'UpperLimit_BCMNormalRange_',
 'AC_ArmCircumference_',
 'AMC_ArmMuscleCircumference_',
 'BMC_BoneMineralContent_',
 'LowerLimit_BMCNormalRange_',
 'UpperLimit_BMCNormalRange_',
 'MeasuredCircumferenceofNeck',
 'MeasuredCircumferenceofChest',
 'MeasuredCircumferenceofAbdomen',
 'MeasuredCircumferenceofHip',
 'MeasuredCircumferenceofRightArm',
 'MeasuredCircumferenceofLeftArm',
 'MeasuredCircumferenceofRightThigh',
 'MeasuredCircumferenceofLeftThigh',
 'GrowthScore',
 'ObesityDegreeofaChild',
 'LowerLimit_ObesityDegreeofaChildNormalRange_',
 'UpperLimit_ObesityDegreeofaChildNormalRange_',
 'InBodyType',
 'LocalID']

In [182]:
output_csv = pd.read_csv("Wynikowy_ostateczny.csv", index_col=0)
print(output_csv.head())
df = pd.DataFrame(None, columns=kolumny)

    ID DataUrodzenia  Plec  Wysokosc 1  Wysokosc 2  Wysokosc 3  Wysokosc 4  \
0  101    14.06.2000     1       182.0       183.0       189.0       183.1
1  102    27.12.2000     1       167.0       171.1         NaN         NaN
2  104    2000.11.06     1       187.4       188.4       189.0       190.1
3  105    2000.07.22     1       177.9       180.0       183.3         NaN
4  107    2002.06.24     1       161.7       166.9       170.8       172.8

   Wysokosc 5  Wysokosc 6  Wysokosc 7  ...  InBodyType 9  LocalID 1  \
0         NaN         NaN         NaN  ...         570.0        NaN
1         NaN         NaN         NaN  ...         570.0        NaN
2       190.5         NaN         NaN  ...           NaN        NaN
3       185.2       187.0         NaN  ...           NaN        NaN
4       174.0       174.4         NaN  ...           NaN        NaN

   LocalID 2  LocalID 3  LocalID 4  LocalID 5  LocalID 6  LocalID 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

   LocalID 8  LocalID 9
0        NaN     4111.0
1        NaN     1983.0
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 1101 columns]

In [180]:
#numeryczne=df.columns[3:99]+df.columns[100:123]